*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flag{
  width: 100px;
  height: 50px;
}
.card{
  background-color: black;
  width: 342px;
  height: 500px;
  color: white;
}
.fas{
  color: yellow;
}
